---
layout: default
---

<div class="main-content archive-page clearfix">
    <div class="categorys-item">
        <div class="post-lists">
            <div class="post-lists-body">
                {% for post in site.posts %}
                {% capture this_categories %}{{ post.categories }}{% endcapture %}
                {% capture next_categories %}{{ post.next.categories }}{% endcapture %}
                {% if this_categories != next_categories %}
                <div class="categorys-title">{{ this_categories }}</div>
                {% endif %}

                <div class="post-list-item">
                    <div class="post-list-item-container" onclick="window.location.href='{{ post.url }}'">
                        <div class="item-label">
                            <div class="item-title">{{ post.title }}</div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date"> {{ post.date | date: "%b %d, %Y" }} </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>
</div>